{% extends 'base.html.twig' %}

{% block title %}New Livres{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau livre</h1>

      {{ include('livres/_form.html.twig') }}

    <a href="{{ path('livres_index') }}">back to list</a>
{% endblock %}
